body{
    padding : 0;
    margin : 0;
    font-family : 'Arial', sans-serif;
    background-color : #121010;
}

.modal-cookies{
    color: #ffffff;
    position : fixed;
    top : 0;
    left : 0;
    width : 500px;
    height : 300px;
    border-radius: 10px;
    border: solid   1px #ebebeb;
    display : flex;
    justify-content : center;
    align-items : center;
}
.modal-cookies__button{
    cursor : pointer;
    background-color: #474747;
    color : #ffffff;
    border-radius: 5px;
    border: solid 1px #fdfcfc;
    width: 100px;
    height: 20px;
    

}
.modal-cookies__button:hover{
    background-color: #fdfcfc;
    color : #474747;
}